ll_env
db.sqlite3
#AjMuNrm/esOMLH/Eg0dLf1Ep+NzxX1fllw/7cyYA
#AKIAQHLBFUA7RITPOGSE
# +---[RSA 3072]----+
# |       .o.+o     |
# |      .o+o+....  |
# |       =o=o++..o.|
# |      o +o=o . .o|
# |       BS.oo.    |
# |     .*o+o .     |
# |     E+oo.       |
# |   . .+o ..      |
# |    o. =B=.      |
# +----[SHA256]-----+
# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*  

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Python ###
# Byte-compiled / optimized / DLL files
#__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### Django ###
*.log
*.pyc
__pycache__/
local_settings.py
settings.py

.env
db.sqlite3

venv
ll_env
backup_database

node_modules

graphviz
inspery/settings.py
inspery/settings.py

media
